/*--------- GENERAL ---------*/
:root {
  --color-primary-heading:#22205F;
  --color-primary-text: #73739B;
  --color-gradient-start: #F7F297;
  --color-gradient-end:#D8F0F7;
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
    /* Add more formats if needed */
    font-family: 'Pixel_NES';
    src: url('Pixel_NES/Pixel_NES.otf') format('opentype')
  }

html, body {
  font-family: 'IBM Plex Mono';
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--color-primary-heading);
}



#signature {
  margin-top: 4em;
	width: 14em;
}

/*  SCrollbar  */
 /* width */
 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  display:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,0.5);
  opacity: 0.2;
  transition: background 0.5s ease;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255)
} 
/**/


.italic {
  font-style: italic;
}
body ul h4{
  font-weight:100;
  font-size: 16pt;
  margin: 0;
}
button {
  display: flex;
  flex-direction: row;
  font-family: 'IBM Plex Mono';
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--color-primary-heading);
  color: var(--color-primary-heading);
  background: rgba(0,0,0,0);
  transition: background 0.1s ease;
  max-height:max-content;
}
#pdf-button {
  max-height: 40px;
}

button:hover {
  cursor: pointer;
  color:  var(--color-gradient-start);
  background: var(--color-primary-heading);
}

#drawing-board {
  position: fixed;
  top: 0px;
  left: 0px;
  /*width: 100%;
  height: 100%;*/
}
#body {
  display: flex;
  /*justify-content:center;*/
  align-items: center;
  color: var(--color-primary-heading);
  position: relative;
  flex-direction: column;
}
#body .name{
  /*cursor: grab;
  position: absolute;*/
  font-size: 16pt;
  font-weight: 100;
  min-width: max-content;
}

#side_menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right:50px;
}
#side_menu li {
  cursor: pointer;
  margin-bottom: 10px;
}
#side_menu li h4:after {
  display:block;
  content: "";
  background: var(--color-primary-heading);
  height: 1px;
  width: 0%;
  transition: width 0.3s ease;
}
#side_menu li:hover h4:after {
  width: 33%;
}

#side_menu li#games {
  margin-top: 50px;
}

.visible {
  display:flex;
  flex-direction: column;
}

.game-button{
  display: flex;
  flex-direction:row;
}

.invisible {
  display: none;
}

#titleBox {
  position: relative;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
#project-content {
  margin-bottom: 100px;
}
.project-entry {
  margin-top: 50px;
}
.project-entry-content {
  display:flex;
  flex-direction:row;
}
.project-entry-content .project-images{
  display:flex;
  flex-direction: row;
  
}
.project-entry-content .project-images img {
  border: 1px solid var(--color-primary-heading);
  width: 200px;
  height: 200px;
  margin-left: 20px;

}
.project-entry-content .about-project {
  font-size: 0.8em;
}

#contact-list {
  list-style:none;
  padding: 0;
}

#contact-list li {
  min-width: max-content;
  display:flex;
  flex-direction:row;
  margin: 20px;
}
#contact-list li img {
  padding-right: 10px;
  width: 1em;
  height: 1em;
  transform: translateY(25%);
}
#contact-list li a {
  color: var(--color-primary-heading);
  text-decoration:none;
  display:flex;
  flex-direction: column;
}

#contact-list li a:after {
  content:"";
  width: 0px;
  min-height: 1px;
  height: 1px;
  background-color: var(--color-primary-heading);
  transition: 0.2s ease;
}
#contact-list li:hover a:after {
 width:25%;
}

#contentWrapper {
  /*min-width: 75%;*/
  display:flex;
  flex-direction: row;

}
#contentBox {
  width: 50vw;
  /*padding-left: 50px;*/
  display:flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center;*/
}

.content-title{
  font-weight: 100;
  font-size: 15pt;
  margin-top: 0;
}

.curriculum-list {
  list-style:none;
}
#curriculum-title{
  display:flex;
  justify-content: space-between;
  flex-direction:row;
  align-items: center;
}
.curriculum-entry{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  margin-bottom: 20px;
}
.content p{
  margin:2px;
}

.content p.minor{
  font-size: 10pt;
}

.game-title {
  font-weight: 100;
  font-size: 14pt;
  font-family:'Pixel_NES';
}

.divider::after {
  content: "";
  background:var(--color-primary-heading);
  min-width: 37%;
  max-width: 37%;
  height: 1px;
  display:flex;

}
#gamespace {
  border: 1px solid var(--color-primary-heading);
  min-width: 75%;
  max-width: 75%;
  min-height: 75%;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 /* position:absolute;*/

}

#back-button {
  margin: 50px;
}

.game-entry-content .game-description {
margin-bottom: 20px;
}

.gameText {
  font-family: 'Pixel_NES';
  font-weight: 100;
}

/*---------- PACHINKO -------------*/
.arrow {
  position: fixed;
  top: 0;
  left: 50%;
  height: 40px;
  width: 0px;
  border: 2px solid var(--color-primary-heading);
  border-radius: 2px;
  background: var(--color-primary-heading)hite;
  transform: /*translate(-50%, -120%)*/ rotate(180deg);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.arrow::before {
  position: absolute;
  content:"";
  height: 20px;
  width: 0px;
  border: 2px solid var(--color-primary-heading);
  border-radius: 2px;
  transform: translate(-9.2px,-6px) rotate(45deg);
  background:var(--color-primary-heading);
}

.arrow::after {
  position: absolute;
  content:"";
  height: 20px;
  width: 0px;
  border: 2px solid var(--color-primary-heading);
  border-radius: 2px;
  transform: translate(5.2px,-6px) rotate(-45deg);
  background:var(--color-primary-heading);
}
.arrowIcon {
  display:block;
  width: 10px;
  height: 10px;
  border-style: none solid solid none;
  border-width: 2px;
  border-color: var(--color-primary-heading);
  border-radius: 1px;
  transform: rotate(-45deg) translateY(2px) translateX(-2px);
  transition: border-color 0.1s ease, transform 0.5s ease;
}
button:hover .arrowIcon {
  border-color: var(--color-gradient-start);
  transform:rotate(-45deg) translateY(4px) translateX(0px);
}

.arrowBackIcon {
  display:block;
  width: 10px;
  height: 10px;
  border-style: solid none none solid;
  border-width: 2px;
  border-color: var(--color-primary-heading);
  border-radius: 1px;
  transform: rotate(-45deg) translateY(2px) translateX(-2px);
  transition: border-color 0.1s ease, transform 0.5s ease;
}
button:hover .arrowBackIcon {
  border-color: var(var(--color-gradient-start));
  transform:rotate(-45deg) translateY(0px) translateX(-4px);
}

/*---------- SPECIFIC ----------*/
#name-holder {
  position:absolute;
  top: 50%;
  left:50%;
  color: var(--color-primary-heading)ite;
}
#background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  background-color: var(--color-gradient-start);
  display: flex;
  align-items: start;
  justify-content: center;
  transition: 0.5s ease;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow-y:scroll;

}
#second-page{
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
#game-area  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
  height: 100%;
}


.ball {
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--color-primary-heading);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.peg {
  position: absolute;
  border-radius: 50%;
  background: rgba(0,0,0,0);
  /* background: white; */
  transition: background 0.1s ease;
}

.peg.collision {
  background: red;
}

